{{- "{{" }} config(
    materialized='{{ model.materialization.value }}'
    {%- if model.tags %},
    tags={{ model.tags }}
    {%- endif %}
) {{ "}}" }}

{% for dep in model.depends_on -%}
with {{ dep }} as (
    select * from {{ "{{" }} ref('{{ dep }}') {{ "}}" }}
){% if not loop.last %},{% endif %}
{% endfor %}

select
    {% for col in model.columns -%}
    {{ col.name }}{% if not loop.last %},{% endif %}
    {% endfor %}
from {{ model.depends_on[0] if model.depends_on else 'source' }}
